.configuration-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .spining-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .32);
  }
  header {
    width: 100%;
    height: 66px;
    line-height: 66px;
    padding: 0 32px;
    box-sizing: border-box;
    background: #001629;
    color: #FFF;
  }
  main {
    flex: 1;
    display: flex;
  }
}
