.list-switch {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  background: #31353a;
  animation: pj-menu 1000ms;
  z-index: 0;

  .pj-menu {
    width: 1100px;
    margin-left: calc(calc(100% - 1200px) / 2);
    display: inline-block;

    li {
      font-size: 16px;
      display: inline-block;
      list-style: none;
      color: #ffffff;
      padding-right: 30px;
      cursor: pointer;
      transition: all 1s;
      text-decoration: none;

      &:hover, &.active {
        color: #00c1de;
      }
    }
  }

  span {
    width: 36px;
    height: 36px;
    overflow: hidden;
    display: inline-block;
    background: url(./images/list.png) no-repeat center;
    background-size: 100% 100%;
    float: right;
    margin: 7px calc(calc(100% - 1200px) / 2) 7px 7px;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
      transform: scale(1.1);
    }

    &.matrix {
      background: url(./images/list_grid.png) no-repeat center;
      background-size: 100% 100%;
    }
  }
}

.pj-container {
  width: 100%;

  .item {
    width: 100%;
    height: 330px;
    animation: pj-item 500ms;
    transition: all 500ms;
    background: #f8f8f8;

    .item-container {
      width: 1200px;
      height: 330px;
      margin: 0 auto;
      padding: 40px 0;
    }

    .pic-container {
      position: relative;
      width: 445px;
      height: 250px;
      margin: 0;
      display: block;
      float: left;
      box-sizing: border-box;
      border: 1px solid #d5d8dd;
      cursor: pointer;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border: 1px solid #989ba0;
        box-sizing: border-box;
        box-shadow: 0 0 2px 0 #999999;
        transition: all 400ms;
      }

      img {
        width: 100%;
        height: 100%;
        transition: all 500ms;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        &::before {
          transform: scale(1.15, 1.2);
          opacity: 0;
        }
      }
    }

    .info-container {
      height: 100%;
      padding-left: 475px;

      .pj-name {
        font-size: 30px;
        line-height: 50px;
        color: #333333;
        margin-left: -100px;
      }

      .pj-desc {
        position: relative;
        //height: 60px;
        //line-height: 30px;
        overflow: hidden;
        // 注释其他字段后留出的空位补填
        text-indent: 2em;
        padding-left: 0;
        height: 200px;
        line-height: 29px;
        pointer-events: none;

        &:hover {
          color: #484848;
          transform: scale(1.02);
        }

        &::after {
          content: "...";
          pointer-events: auto;
          font-weight: bold;
          position: absolute;
          cursor: pointer;
          bottom: 0;
          right: 0;
          padding: 0 10px 0 0;
          width: 70px;
          text-align: right;
          background: url(./images/filter-left.png) repeat-y center / 100% 100%;
        }
      }

      p {
        padding: 0 0 0 100px;
        margin: 0;
        font-size: 16px;
        line-height: 30px;
        transition: all 500ms;
        color: #737373;

        span {
          margin-left: -100px;
          padding-right: 24px;
          width: 100px;
          display: inline-block;
          font-weight: bolder;
          text-align: right;
          color: #3b3b3b;
        }
      }
    }

    &.item-right {
      background: #ffffff;

      .pic-container {
        float: right;
      }

      .info-container {
        padding: 0 470px 0 0;

        .pj-desc::after {
          background: url(./images/filter-right.png) repeat-y center / 100% 100%;
        }
      }
    }
  }

  .pj-list {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .item {
      display: inline-block;
      width: 380px;
      height: 213px;
      margin: 10px;

      .pic-container {
        position: relative;
        width: 100%;
        height: 100%;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 40px;
          left: 0;
          bottom: 0;
          background: #22252a;
          opacity: 0.4;
          transition: all 500ms;
          z-index: 1;
        }
      }

      .item-title {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #ffffff;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        z-index: 10;
      }

      &:hover .item-title::before {
        opacity: 0.1;
      }
    }
  }
}

.pj-details {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #ffffff;
  font-size: 18px;
  line-height: 34px;
  color: #5b5b5b;

  .pj-det-title {
    font-size: 26px;
    color: #373737;
    padding-left: 0;
    border-bottom: 2px solid #00c1de;
    line-height: 50px;
  }

  p {
    padding-left: 100px;
    margin: 10px 0;

    span {
      padding-right: 10px;
      display: inline-block;
      width: 100px;
      color: #00c1de;
      text-align: right;
      margin-left: -100px;
    }
  }
}
